@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="password"],
  [type="email"],
  [type="number"],
  [type="url"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="time"],
  [type="search"],
  [type="tel"],
  [type="checkbox"],
  [type="radio"],
  [multiple],
  textarea,
  select {
    @apply border-blue-100 focus:ring-blue-500 focus:border-blue-500 focus:bg-white text-slate-800;
  }
  [type=file] {
    @apply invisible;
  }
  [type=file]::file-selector-button {
    @apply bg-blue-600 px-1.5 py-0.5 font-bold text-blue-100 rounded 
    hover:text-yellow-100 shadow border-none cursor-pointer visible;
  }
  body {
    @apply p-4 bg-blue-200;
  }
}

@layer components {
  .main-container {
    @apply mx-auto drop-shadow-xl max-w-xl h-[95vh] flex flex-col bg-blue-300 rounded-lg;
  }
  .header {
    @apply flex flex-col gap-1 p-2 bg-blue-400 rounded-t-lg;
  }
  .logo {
    @apply flex gap-1 text-2xl italic font-black tracking-wide text-blue-100 select-none;
  }
  .main-box {
    @apply flex flex-col gap-3 px-3 py-2 overflow-y-auto;
  }
  .blue-heading {
    @apply text-xl font-black tracking-wide text-blue-600 select-none;
  }
  .message-input {
    @apply h-12 p-1 rounded shadow-inner text-slate-800 grow bg-blue-50;
  }
  .form-input {
    @apply w-3/6 p-2 text-lg rounded shadow-inner text-slate-800 bg-blue-50;
  }
  .message-form {
    @apply fixed inset-x-0 bottom-0 flex items-center justify-between gap-2 p-2 bg-blue-400 rounded md:text-lg;
  }
  .message-btn {
    @apply w-12 h-12 font-bold text-blue-100 bg-blue-600 rounded disabled:opacity-50 disabled:drop-shadow-none disabled:hover:text-blue-100 drop-shadow hover:text-yellow-100 active:drop-shadow-sm;
  }
  .settings-section {
    @apply flex flex-col items-start gap-2 p-2 text-blue-700;
  }
  .signin-section {
    @apply flex flex-col items-center gap-2 p-2 text-blue-700;
  }
  .signin-btn {
    @apply p-2 font-bold text-blue-100 bg-blue-600 rounded-md drop-shadow 
    hover:text-yellow-100 active:drop-shadow-sm
  }
  .menu-btn {
    @apply transition px-1.5 py-0.5 font-bold text-blue-100 rounded drop-shadow 
    hover:text-yellow-100 active:drop-shadow-sm;
  }
  .btn {
    @apply transition bg-blue-600 px-1.5 py-0.5 font-bold text-blue-100 rounded drop-shadow 
    hover:text-yellow-100 active:drop-shadow-sm cursor-pointer 
    disabled:opacity-50 disabled:drop-shadow-none disabled:hover:text-blue-100 disabled:cursor-default;
  }
  .drop-menu {
    @apply fixed w-full p-2 border-t-2 rounded-b-lg bg-blue-400/90 border-t-blue-50/50;
  }
  ::-webkit-scrollbar {
    @apply w-2
  }
  aside::-webkit-scrollbar {
    @apply w-4
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-none;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-opacity-50 rounded-full bg-blue-50;
  }
}

@layer utilities {
  
  .m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms cubic-bezier(0.61, 1, 0.88, 1) 0ms, opacity 200ms;
  }
  .m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 200ms cubic-bezier(0.61, 1, 0.88, 1) 0ms, opacity 200ms;
  }
}