@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="password"],
  [type="email"],
  [type="number"],
  [type="url"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="time"],
  [type="search"],
  [type="tel"],
  [type="radio"],
  [multiple],
  textarea,
  select {
    @apply border-blue-400 text-slate-800 ring-2 ring-blue-400;
    @apply focus:ring-blue-400 focus:border-blue-400;
    @apply dark:border-blue-900 dark:focus:ring-blue-900 dark:ring-blue-900;
  }
  [type="checkbox"] {
    @apply border-none rounded bg-blue-50;
  }
  [type=file]::file-selector-button {
    @apply px-1.5 py-0.5 font-bold rounded shadow border-none cursor-pointer visible;
    @apply text-blue-100 bg-blue-600 hover:text-yellow-200;
    @apply dark:bg-blue-700 dark:text-blue-50;
  }

}

@layer components {
  .background {
    @apply h-screen bg-fixed bg-blue-200 dark:bg-slate-800 lg:pt-4;
  }
  .main-container {
    @apply flex flex-col h-full max-w-xl mx-auto;
    @apply bg-fixed bg-blue-300 rounded md:rounded-lg drop-shadow-xl dark:bg-slate-900;
  }
  .header {
    @apply fixed w-[100%] flex flex-col bg-blue-400 md:rounded-t-lg dark:bg-blue-900 z-20;
  }
  .room-name-heading {
    @apply text-center overflow-x-auto overflow-y-clip px-2 border-t-2 pb-1 font-medium whitespace-nowrap w-[100%];
    @apply bg-blue-400 text-blue-50 border-blue-50/50;
    @apply dark:bg-blue-900 dark:border-blue-50;
  }
  .logo {
    @apply flex gap-1 italic font-black tracking-wide select-none;
    @apply text-blue-100 dark:text-blue-50;
  }
  .chat-box {
    @apply flex flex-col gap-3 px-3 pt-8 pb-2 mt-16 overflow-y-auto;
  }
  .heading {
    @apply text-lg font-black tracking-wide text-blue-600 select-none dark:text-blue-50;
  }
  .heading-hover {
    @apply hover:cursor-pointer hover:text-blue-500 dark:hover:text-yellow-200;
  }
  .message-form {
    @apply fixed inset-x-0 bottom-0 flex items-center justify-between gap-2 p-2 rounded md:text-lg;
    @apply border-2 border-blue-400 backdrop-blur-sm bg-blue-400/25;
    @apply dark:bg-blue-900 dark:bg-slate-400/10 dark:border-blue-900;
  }
  .message-input {
    @apply h-12;
  }
  .settings-section {
    @apply flex flex-col items-start w-full gap-2 p-2 text-blue-600 dark:text-blue-50;
  }
  .settings-section-border {
    @apply border-b-2 border-blue-200;
  }
  .signin-section {
    @apply flex flex-col items-center gap-2 p-2 text-blue-600 dark:text-blue-50;
  }
  .drop-menu {
    @apply fixed z-20 w-full p-2 border-2 rounded-b-lg top-[76px] md:top-[73px] drop-shadow;
    @apply border-blue-400 bg-blue-400/25 border-t-blue-50/50 backdrop-blur-sm;
    @apply dark:bg-slate-400/10 dark:border-blue-900 dark:border-t-blue-50;
  }
  .drop-menu-selection {
    @apply w-[36%] p-1 rounded shadow-inner backdrop-blur-sm bg-blue-300/95;
    @apply dark:bg-blue-900/95;
  }
  .drop-menu-container {
    @apply w-[62%] p-1 overflow-auto rounded whitespace-nowrap;
    @apply shadow-inner bg-blue-300/95 max-h-96 backdrop-blur-sm;
    @apply dark:bg-blue-900/95;
  }
  .user-display-container {
    @apply flex items-center gap-2 text-sm font-bold select-none text-blue-50;
    @apply hover:text-yellow-200 hover:cursor-pointer;
  }
  .user-display-container:hover > img {
    @apply outline outline-yellow-200;
  }
  .user-list-display {
    @apply flex gap-2 p-1 border-b border-blue-200;
    @apply text-blue-900 hover:cursor-pointer hover:bg-blue-50/50 hover:text-blue-600;
    @apply dark:border-blue-50 dark:hover:bg-blue-50/10 dark:hover:text-yellow-200 dark:text-blue-50;
  }
  .chat-list-display {
    @apply text-blue-900 hover:cursor-pointer hover:bg-blue-50/50 hover:text-blue-600;
    @apply dark:text-blue-50 dark:hover:text-yellow-200 dark:hover:bg-blue-50/10;
  }
  .chat-text-bubble {
    @apply px-1.5 pb-0.5 rounded hover:cursor-pointer select-none;
    @apply bg-blue-100 text-slate-900 hover:bg-blue-50;
    @apply dark:bg-blue-900 dark:text-blue-50 dark:hover:bg-blue-800;
  }
  .chat-info-text {
    @apply text-blue-900 select-none dark:text-blue-50 hover:cursor-default;
  }

  .chat-image {
    @apply rounded h-[45px] w-[45px] object-cover;
    @apply hover:cursor-pointer hover:outline hover:outline-yellow-200;
  }
  
  /* Text Inputs */
  .text-input {
    @apply w-full p-2 text-sm rounded shadow-inner text-slate-800 bg-blue-50;
    @apply focus:ring-blue-600 focus:border-blue-600;
    @apply dark:text-blue-50 dark:bg-slate-800 dark:border-blue-900;
    @apply dark:focus:bg-slate-800 dark:focus:ring-blue-50 dark:focus:border-blue-50 dark:focus:text-blue-50;
  }

    /* images */
  .text-input-signin-width {
    @apply w-[50%];
  }
  .user-display-image {
    @apply object-cover h-[30px] w-[30px] rounded-full;
  }
  .profile-image {
    @apply object-cover rounded;
  }
  .size-one-hundred {
    @apply h-[100px] w-[100px];
  }
  .size-eighty {
    @apply h-[80px] w-[80px]
  }

  /* buttons */
  .btn {
    @apply transition px-1.5 py-1 font-bold rounded drop-shadow active:drop-shadow-sm cursor-pointer;
    @apply text-blue-100 bg-blue-600 hover:text-yellow-200;
    @apply disabled:opacity-50 disabled:drop-shadow-none disabled:hover:text-blue-100 disabled:cursor-default;
    @apply dark:bg-blue-700 dark:text-blue-50 dark:hover:text-yellow-200 dark:disabled:hover:text-blue-50;
  }
  .sign-in-btn-google-icon {
    @apply p-1 text-blue-600 rounded dark:text-blue-900 bg-blue-50;
  }
  .profile-back-btn {
    @apply flex items-center gap-1 font-bold;
    @apply text-blue-600 hover:text-blue-500 hover:cursor-pointer;
    @apply dark:text-yellow-100 dark:hover:text-yellow-200;
  }
  .load-more-btn {
    @apply px-2 py-1 mx-auto mt-2 text-sm rounded-full shadow active:shadow-none;
    @apply text-blue-700 bg-blue-200 hover:bg-yellow-100;
    @apply dark:text-blue-50 dark:hover:text-yellow-200 dark:bg-blue-900 dark:hover:bg-blue-800;
  }
  .menu-btn {
    @apply flex items-center gap-1 transition px-1.5 py-2 font-bold w-full text-sm md:text-base;
    @apply text-blue-600 hover:text-blue-500;
    @apply dark:hover:text-yellow-200 dark:text-blue-50;
  }
  .menu-btn-selected {
    @apply flex items-center gap-1 transition px-1.5 py-2 font-bold text-sm md:text-base;
    @apply w-full text-blue-500 border-b border-b-blue-500;
    @apply dark:text-blue-400 dark:border-blue-400;
  }
  .menu-btn i {
    @apply text-lg font-normal;
  }
  .message-btn {
    @apply w-12 h-12 font-bold text-blue-100 bg-blue-600 rounded drop-shadow;
    @apply hover:text-yellow-200 active:drop-shadow-sm;
    @apply disabled:opacity-50 disabled:drop-shadow-none disabled:hover:text-blue-100;
    @apply dark:text-blue-50 dark:bg-blue-700 dark:disabled:hover:text-blue-50;
  }
  .menu-toggle {
    @apply text-4xl transition md:text-3xl text-blue-50;
    @apply hover:cursor-pointer hover:text-yellow-200;
  }
  .theme-toggle {
    @apply self-center text-3xl md:text-2xl text-blue-50 hover:cursor-pointer hover:text-yellow-200;
  }


  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-none;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-opacity-75 rounded-full bg-blue-50;
  }
  ::-webkit-scrollbar-corner {
    @apply hidden;
  }
}

@layer utilities {
  .m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms cubic-bezier(0.61, 1, 0.88, 1) 0ms, opacity 200ms;
  }
  .m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 200ms cubic-bezier(0.61, 1, 0.88, 1) 0ms, opacity 200ms;
  }
}